.send-request {
    margin-bottom: 16px;
}

.send-request span {
    margin-left: 8px;
}
.your-table-class {
    max-height: 70%; /* ou qualquer outra largura desejada */
    overflow: auto; /* para adicionar barras de rolagem se a tabela for muito larga */
  }
  