<!-- seu-componente.component.html -->

data:{{fields| json}}
 
  <!-- seu-componente.component.html -->

<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let field of fields" class="col-md-{{field.col_md || 12}}">
      <label>{{ field.label }}</label>
  
      <ng-container [ngSwitch]="field.type">
        <input nz-input *ngSwitchCase="'text'" [formControlName]="field.field">
        <nz-select *ngSwitchCase="'number'" [formControlName]="field.field" nzAllowClear>
          <nz-option *ngFor="let option of field.listSelect" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
        </nz-select>
        <!-- Adicione mais casos conforme necessário -->
  
        <div *ngIf="dynamicForm?.get(field.field)?.invalid && dynamicForm?.get(field.field)?.touched">
          <div *ngIf="dynamicForm?.get(field.field)?.hasError('required')">Campo obrigatório</div>
          <div *ngIf="dynamicForm?.get(field.field)?.hasError('minlength')">Mínimo de {{ field.min }} caracteres</div>
          <div *ngIf="dynamicForm?.get(field.field)?.hasError('maxlength')">Máximo de {{ field.max }} caracteres</div>
          <!-- Adicione mais validações conforme necessário -->
          <!-- outras mensagens de erro -->
        </div>
      </ng-container>
    </div>
  
    <button nzType="primary" type="submit" [disabled]="dynamicForm?.invalid">Enviar</button>
  </form>
  